@import url("https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

body {
  font-family: "Otomanopee One", sans-serif;
  background-image: url(./fotos/school-supply-stationary-background-free-vector.jpg);
}

main {
  width: 100%;
  padding-top: 150px;
  margin: 0 auto;
}

.container {
  margin: 0 auto;
  text-align: center;
  background-color: rgb(255, 255, 0);
  border: 1px solid black;
  border-radius: 10px;
  width: 40%;
  height: 250px;
  margin: 0 auto;
  padding: 50px;
}

.form {
  margin: 0 auto;
}

.form label {
  font-size: 25px;
}

#palabra {
  font-size: 18px;
  width: 60%;
  height: 29px;
  text-align: center;
}

#boton {
  font-family: "Otomanopee One";
  font-size: 20px;
  height: 40px;
  width: 80%;
  background-color: cyan;
  border: 1px solid black;
  border-radius: 4px;
}

.resultado {
  font-family: "Ubuntu";
  font-size: 10px;
  color: black;
}

@media (max-width: 480px) {

  main {
    width: 100%;
    padding-top: 80px;
  }

  .container {
    text-align: center;
    border-radius: 10px;
    width: 80%;
    height: 250px;
    margin: 0 auto;
    padding: 50px 10px 100px 10px;
  }

  .form {
    font-size: 25px;
  }

  #palabra {
    font-size: 15px;
    width: 79%;
    height: 35px;
    text-align: center;
  }

  #boton {
    font-family: "Otomanopee One";
    font-size: 20px;
    height: 40px;
    width: 70%;
  }

  .resultado {
    font-size: 20px;
    font-family: "Ubuntu";
  }
}
