@import url('https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap');

body {
    margin: 0px;
    background: #C6FFDD;  
    background: -webkit-linear-gradient(to top, #f7797d, #FBD786, #C6FFDD);  
    background: linear-gradient(to top, #f7797d, #FBD786, #C6FFDD);
    background-repeat: no-repeat; 
    color: rgb(0, 0, 0);
   
}

header {
    position: fixed;
    display: flex;
    left: 0px;
    top:0;
    right: 0;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: 'Zen Tokyo Zoo', Georgia, serif ;
    align-items: center;
    justify-content: space-between;
    
}

.logo {
    margin-left: 38%;
    letter-spacing: 1px;
    font-size: 15px;
}

header div img {

}


header nav {
    margin: 50px;
}

header nav ul {
    margin: 0;
    padding: 0;
    width: 100%;
}

header nav ul li {
    list-style: none;
    display: inline-block;
    border: #C6FFDD 2px solid;
    background: #C6FFDD;  
    color: black;
    border-radius: 20px;
    width: 70px;
    height: 30px;
    margin-left: 5px;
    text-align: center;
}

    header nav ul li:hover {
        border: #C6FFDD 5px solid;
    }

header nav ul li a {
    font-size: 10px;
    text-decoration: none;
    display: block;
    padding: 0.5rem 0.8rem;
    border-radius: 5px;
    color: black;
    font-family: 'Zen Tokyo Zoo', Georgia, serif ;
}

#form{
    margin: 0 auto;
    padding: 50px ;
    margin: 200px;
    margin-left: 500px;
    width: 220px;
    border-radius: 50px;
    background: white;
}

h1 {
    font-family: 'Zen Tokyo Zoo'  ;
    font-size: 30px;
}

label{    
font-family: 'Zen Tokyo Zoo', Georgia, serif  ;
font-size: 20px;
}

input{
margin-bottom: 20px;
width: 100%;
border: 1px solid #f7797d;
border-radius: 10px;
color: gray;
}

.buttom{
    border:  #C6FFDD 2px solid;
    background:#FBD786 ;  
    font-family: 'Zen Tokyo Zoo', Georgia, serif;
    color: black;
    border-radius: 20px;
    width: 150px;
    height: 20px;
    margin-left: 38px;
    margin-bottom: 20px;
    text-align: center;
    cursor: pointer;
}

.buttom:hover {
    background: #f7797d ;
}

.pie {
    background-color: white;
    text-align: center;
    font-family: 'Zen Tokyo Zoo', Georgia, serif;
    font-size: 30px;
    width: 100%;
    height: 100%;
    margin-top: 6rem;
    padding: 1rem 0;

}